body, html {
  height: 100%;
  margin: 0;
  font-family:  'Times New Roman', sans-serif ;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
}
 
body {
  background: linear-gradient(-45deg, #9d3110, #49001c, #00374b, #2effce);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.joinbutton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: transparent;
} 
.el-dialog {
  background: #ffffff00;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 50px;
  position: relative;
  width: 50%;
}

.el-dialog__wrapper {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.el-dialog__header {
  padding: 20px 20px 10px;
}

.el-dialog__title {
  color: #303133;
  font-size: 18px;
  line-height: 24px;
}

.land-list-drag[data-v-38172f4e] {
  margin: 0 auto;
  max-width: 540px;
}

.land-link-item[data-v-38172f4e] {
  padding: 10px 0;
}

.land-list-group[data-v-38172f4e] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.land-list-group[data-v-38172f4e]>:not(.land-link-grid) {
  width: 100%;
}

.land-link-line[data-v-38172f4e] {
  display: block;
  padding: 8px 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .land-link-item[data-v-38172f4e] {
    padding: 10px;
  }

  .land-link-line[data-v-38172f4e] {
    padding: 8px 10px;
  }
}

@media (max-width: 576px) {
  .land-list-drag[data-v-38172f4e] {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.land-btn {
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  vertical-align: middle;
  width: 100%;  
}

.land-btn:hover {
  background: transparent;
}

.m-slide[data-v-535cd4d2] {
  position: relative;
}

.m-slide .m-slide__top[data-v-535cd4d2] {
  position: relative;
  width: 100%;
  z-index: 1;
}

.m-slide .m-slide__del[data-v-535cd4d2] {
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  z-index: 0;
}

.land-card[data-v-18e43c3f] {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
}

.land-card-content[data-v-18e43c3f] {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.card-style-2[data-v-18e43c3f] {
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.464);
  box-shadow: 0 7px 13px 1px rgba(0, 0, 0, .1);
  transition: box-shadow .25s cubic-bezier(.08, .59, .29, .99) 0s, transform .25s cubic-bezier(.08, .59, .29, .99) 0s, background-color .25s cubic-bezier(.08, .59, .29, .99) 0s;
}

.card-style-2[data-v-18e43c3f]:active,
.card-style-2[data-v-18e43c3f]:hover {
  transform: scale(1.05);
}

.card-style-2[data-v-18e43c3f] {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .link-share-icon {
    cursor: pointer;
    display: none;
  }
}

.link-share-icon {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, .4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF3SURBVHgB7djvTcMwEAXwF8QAsEFG6AjtBt2AsgEbwAZ0BDYoG2SEsEG6Ad3gcZaDaKumSUicOM37Sad+iuQ/d7avgIiIiIiIiIiIiMjASC4svi0KiyfMjU0646l3iwfMxYUFYJkNKQK7Q7xSC7cIr7hlbpcrMuDYbohsCM4msbTYWuTloddGYbHGFLk0/seEq0ynJOjTO2f/CsZeEvTp3teuV+n8ZkgQgA1sYT85wjskSfKIDnq/BsvU3GEYB3QU4h2Qwd/hoX1ZrBAT2/0Nh7FFjOhP55AKiyV6dI+e2MA2aJ76rnb3+Kthd2jWNT+fFs926HWu+yB4fffddZjRl0h64dus5tsXxIy+n68a/BtrWtsrC5BzCj0A/fv+3JYNe/qKBWj8/eh4+twt2PKgou/2jrOm1fejcrt0NvkULdH3DB/lrqeYEhvwusvkx9bHS9BdYe5qWtkVtcfclPU7v39yfzH2Ozq0Kda9iIiIiIiIiIjIjP0ABF7LJYre2jEAAAAASUVORK5CYII=) no-repeat 50%;
  background-size: cover;
  border-radius: 50%;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}

.link-share-icon:hover {
  background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width: 768px) {
  .pc-share-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .link-share-icon {
    cursor: pointer;
    display: none;
  }
}

.land-link[data-v-38e66287] {
  -webkit-transform: translateZ(0);
}

.link-wrapper[data-v-38e66287] {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.link-wrapper .link-title-bg[data-v-38e66287] {
  flex: 1;
}

.link-wrapper .link-title-wrapper[data-v-38e66287] {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
}

.link-wrapper .link-title-wrapper .link-title[data-v-38e66287] {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 1px;
  word-break: break-word;
}

.link-wrapper .link-image-wrapper[data-v-38e66287] {
  flex-shrink: 0;
}

.link-wrapper .link-image-wrapper .link-image[data-v-38e66287] {
  object-fit: cover;
  width: 100%;
}

.link-layout-1[data-v-38e66287] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  padding: 6px;
}

.link-layout-1 .link-image-wrapper[data-v-38e66287] {
  height: 48px;
  width: 48px;
}

.link-layout-1 .link-image-wrapper img[data-v-38e66287] {
  height: 100%;
}

.link-layout-1 .link-image-place[data-v-38e66287] {
  height: 48px;
  width: 48px;
}

.link-layout-1 .link-title-wrapper[data-v-38e66287] {
  padding-left: 12px;
  padding-right: 12px;
}

.link-layout-1 .link-title-wrapper .link-title[data-v-38e66287] {
  flex: 1;
}

.link-style-2.link-layout-1 .link-image-wrapper .link-image[data-v-38e66287] {
  border-radius: 24px;
}

.land-link[data-v-38e66287] {
  position: relative;
}

.link-share-icon[data-v-38e66287] {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, .4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF3SURBVHgB7djvTcMwEAXwF8QAsEFG6AjtBt2AsgEbwAZ0BDYoG2SEsEG6Ad3gcZaDaKumSUicOM37Sad+iuQ/d7avgIiIiIiIiIiIiMjASC4svi0KiyfMjU0646l3iwfMxYUFYJkNKQK7Q7xSC7cIr7hlbpcrMuDYbohsCM4msbTYWuTloddGYbHGFLk0/seEq0ynJOjTO2f/CsZeEvTp3teuV+n8ZkgQgA1sYT85wjskSfKIDnq/BsvU3GEYB3QU4h2Qwd/hoX1ZrBAT2/0Nh7FFjOhP55AKiyV6dI+e2MA2aJ76rnb3+Kthd2jWNT+fFs926HWu+yB4fffddZjRl0h64dus5tsXxIy+n68a/BtrWtsrC5BzCj0A/fv+3JYNe/qKBWj8/eh4+twt2PKgou/2jrOm1fejcrt0NvkULdH3DB/lrqeYEhvwusvkx9bHS9BdYe5qWtkVtcfclPU7v39yfzH2Ozq0Kda9iIiIiIiIiIjIjP0ABF7LJYre2jEAAAAASUVORK5CYII=) no-repeat 50%;
  background-size: cover;
  border-radius: 50%;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}

.link-share-icon[data-v-38e66287]:hover {
  background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width: 768px) {
  .pc-share-icon[data-v-38e66287] {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .link-share-icon[data-v-38e66287] {
    display: none;
  }

  .link-wrapper:hover .link-share-icon[data-v-38e66287] {
    display: block;
  }
}

.drop-down-wrapper[data-v-0e724458] {
  background: #fff;
  border: 1px solid #d9e2f2;
  border-radius: 12px;
  box-shadow: 0 16px 32px rgba(17, 0, 57, .15);
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  width: 200px;
}

.drop-down-wrapper.is_small[data-v-0e724458] {
  width: 170px;
}

.tab_bar_wrapper[data-v-2a6aa9e5] {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  padding: 0 15px 0 50px;
  position: relative;
}

.tab_bar_wrapper .follow_btn[data-v-2a6aa9e5] {
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 32px;
  line-height: 18px;
  padding: 0 10px;
}

.tab_bar_wrapper .follow_btn[data-v-2a6aa9e5]:hover {
  background-color: rgba(0, 0, 0, .6);
}

.tab_bar_wrapper .tab-menu-wrapper[data-v-2a6aa9e5] {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
  height: 32px;
  margin-left: 10px;
  width: 32px;
}

.tab_bar_wrapper .tab-menu-wrapper[data-v-2a6aa9e5]:hover {
  background-color: rgba(0, 0, 0, .6);
}

.tab_bar_wrapper .menu-icon[data-v-2a6aa9e5] {
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  vertical-align: top;
  width: 32px;
}

.tab_bar_wrapper .drop-position[data-v-2a6aa9e5] {
  position: absolute;
  right: 20px;
  top: 38px;
  z-index: 102;
}

.tab_bar_wrapper .drop-position.is-close[data-v-2a6aa9e5] {
  display: none;
}

.tab_bar_wrapper .drop-position .drop-cover[data-v-2a6aa9e5] {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (max-width: 540px) {
  .tab_bar_wrapper[data-v-2a6aa9e5] {
    padding: 0 15px 0 10px;
  }
}

.follow-success-dialog {
  border-radius: 20px !important;
  margin-top: 0 !important;
  top: 50%;
  transform: translateY(-50%);
}

.follow-success-dialog .el-dialog__header {
  display: none;
}

.portrait-container[data-v-5c468803] {
  display: inline-block;
  height: 0;
  max-width: 100%;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.portrait-img[data-v-5c468803] {
  display: inline-block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.portrait-img img[data-v-5c468803] {
  display: block;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
}

.land-profile-title[data-v-5588481b] {
  align-items: center;
  display: flex;
  font-family: OpenSans-Bold;
  font-size: 16px;
  margin: .5rem 0;
  padding: 0 5%;
  position: relative;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.avatar[data-v-22329bdc] {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.avatar img[data-v-22329bdc] {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

[data-v-5b288dad] .el-dialog__header {
  padding: 0 !important;
}

[data-v-5b288dad] .el-dialog {
  border-radius: 12px;
  margin-top: 0 !important;
  margin: 0 auto;
  max-width: 505px;
  width: 95%;
}

.el-dialog-custom[data-v-5b288dad] {
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  [data-v-5b288dad] .el-dialog {
    max-width: unset;
    width: 100%;
  }

  [data-v-5b288dad] .el-dialog__wrapper {
    overflow: hidden;
  }

  .el-dialog-custom-mobile[data-v-5b288dad] {
    align-items: flex-end;
    display: flex;
  }
}

.land[data-v-8b92b5e6] {
  height: 100%;
  position: relative;
  width: 100%;
}

.land-main[data-v-8b92b5e6] {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 540px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 0;
}

.land-main-info[data-v-8b92b5e6] {
  flex: 1;
  width: 100%;
}

.land-profile[data-v-7d426404] {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px 0;
}

.land-profile .land-profile-bio[data-v-7d426404] {
  font-family: OpenSans-Regular;
  margin-top: 1rem;
  text-align: center;
  width: 90%;
  word-break: break-word;
}

.avatar .avatar-picture[data-v-7d426404],
.avatar[data-v-7d426404] {
  box-sizing: content-box;
  font-size: 26px;
  position: relative;
}

.land_top_header[data-v-67e2bafd] {
  margin: 0 auto;
  max-width: 540px;
  width: 540px;
}

.land_top_header .land_open_header[data-v-67e2bafd] {
  margin-bottom: 14px;
  padding-top: 40px;
}

.land_top_header .land_hide_header[data-v-67e2bafd]:after {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.land_top_header .land_top_nav[data-v-67e2bafd] {
  left: 50%;
  position: fixed;
  top: 15px;
  transform: translateX(-50%);
  width: 100%;
  z-index: 50;
}

.land_top_header .land_top_nav_content[data-v-67e2bafd] {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.land_top_header .land_top_nav_tab[data-v-67e2bafd] {
  align-items: center;
  display: flex;
  flex: 3;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 540px;
}

.land_top_header .land_top_nav_option[data-v-67e2bafd],
.land_top_header .land_top_nav_user[data-v-67e2bafd] {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  white-space: nowrap;
}

.land_top_header .land_top_nav_user[data-v-67e2bafd] {
  justify-content: flex-end;
  overflow: hidden;
}

.land_top_header .land_top_nav_user .user-avatar-wrapper[data-v-67e2bafd] {
  cursor: default;
  flex: 0 0 40px;
}

.land_top_header .land_top_nav_user .user_name[data-v-67e2bafd] {
  color: #141414;
  display: inline-block;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 70px 0 8px;
}

.land_top_header .land_top_nav_option[data-v-67e2bafd] {
  justify-content: flex-start;
}

@media (max-width: 540px) {

  .land_top_header .land_hide_header[data-v-67e2bafd],
  .land_top_header[data-v-67e2bafd] {
    width: 100%;
  }

  .land_top_header .land_top_nav_content[data-v-67e2bafd] {
    flex-wrap: wrap;
  }

  .land_top_header .land_top_nav_user[data-v-67e2bafd] {
    justify-content: flex-start;
    padding-left: 15px;
  }

  .land_top_header .land_top_nav_user .user_name[data-v-67e2bafd] {
    margin: 0 10px 0 8px;
  }

  .land_top_header .land_top_nav_option[data-v-67e2bafd] {
    justify-content: flex-end;
    order: 1;
  }

  .land_top_header .land_top_nav_tab[data-v-67e2bafd] {
    flex: initial;
    flex-shrink: 0;
    order: 2;
    width: 100%;
  }
}

.el-dialog {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 50px;
  position: relative;
  width: 50%;
}

.el-dialog__wrapper {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.el-dialog__header {
  padding: 20px 20px 10px;
}

.el-dialog__title {
  color: #303133;
  font-size: 18px;
  line-height: 24px;
}

.land-list-drag[data-v-38172f4e] {
  margin: 0 auto;
  max-width: 540px;
}

.land-link-item[data-v-38172f4e] {
  padding: 10px 0;
}

.land-list-group[data-v-38172f4e] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.land-list-group[data-v-38172f4e]>:not(.land-link-grid) {
  width: 100%;
}

.land-link-line[data-v-38172f4e] {
  display: block;
  padding: 8px 0;
  width: 100%;
}

@media screen and (max-width:768px) {
  .land-link-item[data-v-38172f4e] {
    padding: 10px;
  }

  .land-link-line[data-v-38172f4e] {
    padding: 8px 10px;
  }
}

@media (max-width:576px) {
  .land-list-drag[data-v-38172f4e] {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.land-btn {
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  vertical-align: middle;
  width: 100%; 
}

.m-slide[data-v-535cd4d2] {
  position: relative;
}

.m-slide .m-slide__top[data-v-535cd4d2] {
  position: relative;
  width: 100%;
  z-index: 1;
}

.m-slide .m-slide__del[data-v-535cd4d2] {
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  z-index: 0;
}

.land-card[data-v-18e43c3f] {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
}

.land-card-content[data-v-18e43c3f] {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.card-style-2[data-v-18e43c3f] {
  border-radius: 15px;

  border: 3px solid rgba(255, 255, 255, 0.464);
  box-shadow: 0 7px 13px 1px rgba(0, 0, 0, .1);
  transition: box-shadow .25s cubic-bezier(.08, .59, .29, .99) 0s, transform .25s cubic-bezier(.08, .59, .29, .99) 0s, background-color .25s cubic-bezier(.08, .59, .29, .99) 0s;
}

.card-style-2[data-v-18e43c3f]:active,
.card-style-2[data-v-18e43c3f]:hover {
  transform: scale(1.05);
}

.card-style-2[data-v-18e43c3f] {
  border-radius: 30px;
}

@media screen and (min-width:768px) {
  .link-share-icon {
    cursor: pointer;
    display: none;
  }
}

.link-share-icon {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, .4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF3SURBVHgB7djvTcMwEAXwF8QAsEFG6AjtBt2AsgEbwAZ0BDYoG2SEsEG6Ad3gcZaDaKumSUicOM37Sad+iuQ/d7avgIiIiIiIiIiIiMjASC4svi0KiyfMjU0646l3iwfMxYUFYJkNKQK7Q7xSC7cIr7hlbpcrMuDYbohsCM4msbTYWuTloddGYbHGFLk0/seEq0ynJOjTO2f/CsZeEvTp3teuV+n8ZkgQgA1sYT85wjskSfKIDnq/BsvU3GEYB3QU4h2Qwd/hoX1ZrBAT2/0Nh7FFjOhP55AKiyV6dI+e2MA2aJ76rnb3+Kthd2jWNT+fFs926HWu+yB4fffddZjRl0h64dus5tsXxIy+n68a/BtrWtsrC5BzCj0A/fv+3JYNe/qKBWj8/eh4+twt2PKgou/2jrOm1fejcrt0NvkULdH3DB/lrqeYEhvwusvkx9bHS9BdYe5qWtkVtcfclPU7v39yfzH2Ozq0Kda9iIiIiIiIiIjIjP0ABF7LJYre2jEAAAAASUVORK5CYII=) no-repeat 50%;
  background-size: cover;
  border-radius: 50%;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}

.link-share-icon:hover {
  background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width:768px) {
  .pc-share-icon {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .link-share-icon {
    cursor: pointer;
    display: none;
  }
}

.land-link[data-v-38e66287] {
  -webkit-transform: translateZ(0);
}

.link-wrapper[data-v-38e66287] {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.link-wrapper .link-title-bg[data-v-38e66287] {
  flex: 1;
}

.link-wrapper .link-title-wrapper[data-v-38e66287] {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
}

.link-wrapper .link-title-wrapper .link-title[data-v-38e66287] {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 1px;
  word-break: break-word;
}

.link-wrapper .link-image-wrapper[data-v-38e66287] {
  flex-shrink: 0;
}

.link-wrapper .link-image-wrapper .link-image[data-v-38e66287] {
  object-fit: cover;
  width: 100%;
}

.link-layout-1[data-v-38e66287] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  padding: 6px;
}

.link-layout-1 .link-image-wrapper[data-v-38e66287] {
  height: 48px;
  width: 48px;
}

.link-layout-1 .link-image-wrapper img[data-v-38e66287] {
  height: 100%;
}

.link-layout-1 .link-image-place[data-v-38e66287] {
  height: 48px;
  width: 48px;
}

.link-layout-1 .link-title-wrapper[data-v-38e66287] {
  padding-left: 12px;
  padding-right: 12px;
}

.link-layout-1 .link-title-wrapper .link-title[data-v-38e66287] {
  flex: 1;
}

.link-style-2.link-layout-1 .link-image-wrapper .link-image[data-v-38e66287] {
  border-radius: 24px;
}

.land-link[data-v-38e66287] {
  position: relative;
}

.link-share-icon[data-v-38e66287] {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, .4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF3SURBVHgB7djvTcMwEAXwF8QAsEFG6AjtBt2AsgEbwAZ0BDYoG2SEsEG6Ad3gcZaDaKumSUicOM37Sad+iuQ/d7avgIiIiIiIiIiIiMjASC4svi0KiyfMjU0646l3iwfMxYUFYJkNKQK7Q7xSC7cIr7hlbpcrMuDYbohsCM4msbTYWuTloddGYbHGFLk0/seEq0ynJOjTO2f/CsZeEvTp3teuV+n8ZkgQgA1sYT85wjskSfKIDnq/BsvU3GEYB3QU4h2Qwd/hoX1ZrBAT2/0Nh7FFjOhP55AKiyV6dI+e2MA2aJ76rnb3+Kthd2jWNT+fFs926HWu+yB4fffddZjRl0h64dus5tsXxIy+n68a/BtrWtsrC5BzCj0A/fv+3JYNe/qKBWj8/eh4+twt2PKgou/2jrOm1fejcrt0NvkULdH3DB/lrqeYEhvwusvkx9bHS9BdYe5qWtkVtcfclPU7v39yfzH2Ozq0Kda9iIiIiIiIiIjIjP0ABF7LJYre2jEAAAAASUVORK5CYII=) no-repeat 50%;
  background-size: cover;
  border-radius: 50%;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}

.link-share-icon[data-v-38e66287]:hover {
  background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width:768px) {
  .pc-share-icon[data-v-38e66287] {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .link-share-icon[data-v-38e66287] {
    display: none;
  }

  .link-wrapper:hover .link-share-icon[data-v-38e66287] {
    display: block;
  }
}

.drop-down-wrapper[data-v-0e724458] {
  background: #fff;
  border: 1px solid #d9e2f2;
  border-radius: 12px;
  box-shadow: 0 16px 32px rgba(17, 0, 57, .15);
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  width: 200px;
}

.drop-down-wrapper.is_small[data-v-0e724458] {
  width: 170px;
}

.tab_bar_wrapper[data-v-2a6aa9e5] {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  padding: 0 15px 0 50px;
  position: relative;
}

.tab_bar_wrapper .follow_btn[data-v-2a6aa9e5] {
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 32px;
  line-height: 18px;
  padding: 0 10px;
}

.tab_bar_wrapper .follow_btn[data-v-2a6aa9e5]:hover {
  background-color: rgba(0, 0, 0, .6);
}

.tab_bar_wrapper .tab-menu-wrapper[data-v-2a6aa9e5] {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
  height: 32px;
  margin-left: 10px;
  width: 32px;
}

.tab_bar_wrapper .tab-menu-wrapper[data-v-2a6aa9e5]:hover {
  background-color: rgba(0, 0, 0, .6);
}

.tab_bar_wrapper .menu-icon[data-v-2a6aa9e5] {
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  vertical-align: top;
  width: 32px;
}

.tab_bar_wrapper .drop-position[data-v-2a6aa9e5] {
  position: absolute;
  right: 20px;
  top: 38px;
  z-index: 102;
}

.tab_bar_wrapper .drop-position.is-close[data-v-2a6aa9e5] {
  display: none;
}

.tab_bar_wrapper .drop-position .drop-cover[data-v-2a6aa9e5] {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (max-width:540px) {
  .tab_bar_wrapper[data-v-2a6aa9e5] {
    padding: 0 15px 0 10px;
  }
}

.follow-success-dialog {
  border-radius: 20px !important;
  margin-top: 0 !important;
  top: 50%;
  transform: translateY(-50%);
}

.follow-success-dialog .el-dialog__header {
  display: none;
}

.portrait-container[data-v-5c468803] {
  display: inline-block;
  height: 0;
  max-width: 100%;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.portrait-img[data-v-5c468803] {
  display: inline-block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.portrait-img img[data-v-5c468803] {
  display: block;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
}

.land-profile-title[data-v-5588481b] {
  align-items: center;
  display: flex;
  font-family: OpenSans-Bold;
  font-size: 16px;
  margin: .5rem 0;
  padding: 0 5%;
  position: relative;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.avatar[data-v-22329bdc] {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.avatar img[data-v-22329bdc] {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

[data-v-5b288dad] .el-dialog__header {
  padding: 0 !important;
}

[data-v-5b288dad] .el-dialog {
  border-radius: 12px;
  margin-top: 0 !important;
  margin: 0 auto;
  max-width: 505px;
  width: 95%;
}

.el-dialog-custom[data-v-5b288dad] {
  align-items: center;
  display: flex;
}

@media (max-width:768px) {
  [data-v-5b288dad] .el-dialog {
    max-width: unset;
    width: 100%;
  }

  [data-v-5b288dad] .el-dialog__wrapper {
    overflow: hidden;
  }

  .el-dialog-custom-mobile[data-v-5b288dad] {
    align-items: flex-end;
    display: flex;
  }
}

.land[data-v-8b92b5e6] {
  height: 100%;
  position: relative;
  width: 100%;
}

.land-main[data-v-8b92b5e6] {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 540px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 0;
}

.land-main-info[data-v-8b92b5e6] {
  flex: 1;
  width: 100%;
}

.land-profile[data-v-7d426404] {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px 0;
}

.land-profile .land-profile-bio[data-v-7d426404] {
  font-family: OpenSans-Regular;
  margin-top: 1rem;
  text-align: center;
  width: 90%;
  word-break: break-word;
}

.avatar .avatar-picture[data-v-7d426404],
.avatar[data-v-7d426404] {
  box-sizing: content-box;
  font-size: 26px;
  position: relative;
}

.land_top_header[data-v-67e2bafd] {
  margin: 0 auto;
  max-width: 540px;
  width: 540px;
}

.land_top_header .land_open_header[data-v-67e2bafd] {
  margin-bottom: 14px;
  padding-top: 40px;
}

.land_top_header .land_hide_header[data-v-67e2bafd]:after {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, .85);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.land_top_header .land_top_nav[data-v-67e2bafd] {
  left: 50%;
  position: fixed;
  top: 15px;
  transform: translateX(-50%);
  width: 100%;
  z-index: 50;
}

.land_top_header .land_top_nav_content[data-v-67e2bafd] {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.land_top_header .land_top_nav_tab[data-v-67e2bafd] {
  align-items: center;
  display: flex;
  flex: 3;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 540px;
}

.land_top_header .land_top_nav_option[data-v-67e2bafd],
.land_top_header .land_top_nav_user[data-v-67e2bafd] {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  white-space: nowrap;
}

.land_top_header .land_top_nav_user[data-v-67e2bafd] {
  justify-content: flex-end;
  overflow: hidden;
}

.land_top_header .land_top_nav_user .user-avatar-wrapper[data-v-67e2bafd] {
  cursor: default;
  flex: 0 0 40px;
}

.land_top_header .land_top_nav_user .user_name[data-v-67e2bafd] {
  color: #141414;
  display: inline-block;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 70px 0 8px;
}

.land_top_header .land_top_nav_option[data-v-67e2bafd] {
  justify-content: flex-start;
}

@media (max-width:540px) {

  .land_top_header .land_hide_header[data-v-67e2bafd],
  .land_top_header[data-v-67e2bafd] {
    width: 100%;
  }

  .land_top_header .land_top_nav_content[data-v-67e2bafd] {
    flex-wrap: wrap;
  }

  .land_top_header .land_top_nav_user[data-v-67e2bafd] {
    justify-content: flex-start;
    padding-left: 15px;
  }

  .land_top_header .land_top_nav_user .user_name[data-v-67e2bafd] {
    margin: 0 10px 0 8px;
  }

  .land_top_header .land_top_nav_option[data-v-67e2bafd] {
    justify-content: flex-end;
    order: 1;
  }

  .land_top_header .land_top_nav_tab[data-v-67e2bafd] {
    flex: initial;
    flex-shrink: 0;
    order: 2;
    width: 100%;
  }
}

button,
div,
p {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

img {
  -webkit-touch-callout: none;
  border-style: none;
  max-width: 100%;
  user-select: none;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

.wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 
@-webkit-keyframes bounce {
  0%,20%,53%,80%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }

  40%,43% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-30px,0);
      transform: translate3d(0,-30px,0)
  }

  70% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-15px,0);
      transform: translate3d(0,-15px,0)
  }

  90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0)
  }
}

@keyframes bounce {
  0%,20%,53%,80%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }

  40%,43% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-30px,0);
      transform: translate3d(0,-30px,0)
  }

  70% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-15px,0);
      transform: translate3d(0,-15px,0)
  }

  90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0)
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom
}

@-webkit-keyframes flash {
  0%,50%,to {
      opacity: 1
  }

  25%,75% {
      opacity: 0
  }
}

@keyframes flash {
  0%,50%,to {
      opacity: 1
  }

  25%,75% {
      opacity: 0
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash
}

@-webkit-keyframes pulse {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }

  50% {
      -webkit-transform: scale3d(1.05,1.05,1.05);
      transform: scale3d(1.05,1.05,1.05)
  }

  to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }
}

@keyframes pulse {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }

  50% {
      -webkit-transform: scale3d(1.05,1.05,1.05);
      transform: scale3d(1.05,1.05,1.05)
  }

  to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse
}

@-webkit-keyframes rubberBand {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }

  30% {
      -webkit-transform: scale3d(1.25,.75,1);
      transform: scale3d(1.25,.75,1)
  }

  40% {
      -webkit-transform: scale3d(.75,1.25,1);
      transform: scale3d(.75,1.25,1)
  }

  50% {
      -webkit-transform: scale3d(1.15,.85,1);
      transform: scale3d(1.15,.85,1)
  }

  65% {
      -webkit-transform: scale3d(.95,1.05,1);
      transform: scale3d(.95,1.05,1)
  }

  75% {
      -webkit-transform: scale3d(1.05,.95,1);
      transform: scale3d(1.05,.95,1)
  }

  to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }
}

@keyframes rubberBand {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }

  30% {
      -webkit-transform: scale3d(1.25,.75,1);
      transform: scale3d(1.25,.75,1)
  }

  40% {
      -webkit-transform: scale3d(.75,1.25,1);
      transform: scale3d(.75,1.25,1)
  }

  50% {
      -webkit-transform: scale3d(1.15,.85,1);
      transform: scale3d(1.15,.85,1)
  }

  65% {
      -webkit-transform: scale3d(.95,1.05,1);
      transform: scale3d(.95,1.05,1)
  }

  75% {
      -webkit-transform: scale3d(1.05,.95,1);
      transform: scale3d(1.05,.95,1)
  }

  to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }
} 

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}

@-webkit-keyframes shake {
  0%,to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }

  10%,30%,50%,70%,90% {
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0)
  }

  20%,40%,60%,80% {
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0)
  }
}

@keyframes shake {
  0%,to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }

  10%,30%,50%,70%,90% {
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0)
  }

  20%,40%,60%,80% {
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0)
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

@-webkit-keyframes headShake {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg)
  }

  18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg)
  }

  31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg)
  }

  43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg)
  }

  50% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes headShake {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg)
  }

  18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg)
  }

  31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg)
  }

  43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg)
  }

  50% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}

.headShake {
  -webkit-animation-name: headShake;
  animation-name: headShake;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}


.loader {
  border: 10px solid #ffffff42;
  border-radius: 50%;
  border-top: 10px solid #ffffff;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 